body {
    background-color: rgb(192, 185, 185);
    font-family: Helvetica, Arial;
}

header {
    display: flex;

}

.awsh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}