.mainbg {
    background-color: rgb(175, 175, 175);
    height: auto;
    width: auto;
}

#awsh1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.awsh1header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(204, 201, 201);

}

p {
    margin: 1.5em;

}

#fc0 {
    color: black;
    margin: 1.5em;
}

#fc1 {
    color: black;
    margin: 1.5em;

}